img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1; /*la imagen se colocará detras*/
}

/* Si dos elementos posicionados se superponen 
  sin z-index especificar, el elemento definido 
  en último lugar en el código HTML 
  se mostrará en la parte superior. */
